@charset "utf-8";

header {
    background-color: #2F2F2F;
    -webkit-box-shadow: 0 5px #333333;
    box-shadow: 0 5px #333333;
    text-shadow: 1px 1px #5F5D5D;
    margin-top: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-size: x-large;
}


body {
    background-color: #171717;
    font-family: 'Droid Sans', Tahoma, Arial, Verdana sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: medium;
    align-content: center;
}
 .input-box {
    background-color: #2F2F2F;
}
#text_box {
    width: 500px;

}

.jumbotron {
    padding-top: 50px;
    background-color:  #2F2F2F;
    border: whitesmoke;
    color: white;
    width: 1000

}
input, select, textarea{
    color: black;
}


    circle {
        stroke: #565352;
        stroke-width: 1;
}
.DivToScroll{
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    left: auto;
    padding-top: auto;
    padding-right: auto;
    padding-left: auto;
    padding-bottom: auto;
}

.DivWithScroll{
    height:500px;
    overflow:scroll;
    overflow-x:hidden;
}
.box {
    border: 1px greenyellow ;
    height: 100px;
    width:  700px;
    padding-top: auto;
    padding-right: auto;
    padding-left: auto;
    padding-bottom: auto;
  }
        html {
            scroll-behavior: smooth;
        }

        #textentry {
            height: 400px;
            width: 600px;
            margin: auto;
            position: relative;
            top: 100px
        }

        #text_box {
            height: 125px;
            font-size: 12pt;
            padding-bottom: 100px;
        }

        #section1 {
            height: 400px;
            width: 1000px;
            margin: auto;
            padding-top: 10px;
        }

        #my_dataviz {
            height: 600px;
            padding-top: 200px;
        }

        #section3 {
            height: 400px;
            padding-top: 50px;
            color: black;
            border: whitesmoke;
        }

        .card {
            padding-top: 10px;
            margin-bottom: 10px; /* Added */
            border: 2px solid #004D6F;
            height: 300px;
        }

        .cards {
            padding-top: 30px;
            width: 1200;
            padding-left: 35px 
        }

        .container {
        width: 1300px;
        margin: auto;
        }

        #fixed-header {
            width: 100%;
            position: fixed;
            background: #333;
            padding: 10px 0;
            color: #fff;
            z-index: 1000;
            height: 150px
        }

        #fixed-header {
            top: 10px;
        }

        body {
            padding-top: 25px;
        }

   
#h2 {
}
.sub-request {
}
#sub-request {
}
